.articles {
}

.articles {
  @include list-reset();
}

.articles__item {
  padding: 5px 0;
}

.articles__link {
  font-size: 16px;
  color: #333;
  font-weight: 400;

  &:hover {
    color: $accent-color;
  }
}

.articles__title-wrapper {
  padding: 20px 20px 12px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px 3px 0 0;
  background-color: #ffffff;
}

.articles__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.articles__close-button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  opacity: 0.7;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 14px;
    height: 1px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}