.ask-form {
  display: flex;
  flex-direction: column;
}

.ask-form__topic-wrapper {
  position: relative;
}

.ask-form__articles {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 90px;
  display: flex;
  flex-direction: column;
}

.ask-form__button-attach {
  margin-bottom: 10px;
}

.ask-form__item-group {
  margin-bottom: 42px;
  position: relative;
  display: flex;
  flex-direction: column;

  &--question {
    margin-bottom: 24px;
  }

  &--notify {
    margin-bottom: 36px;
  }
}

.ask-form__label,
.ask-form__title {
  font-size: 14px;
	line-height: 10px;
	color: #000;
	text-transform: uppercase;
	cursor: default;
	letter-spacing: 1px;

  &--filled {
    background-color: #1f1d1d;
  }
}

.ask-form__text {
  margin: 10px 0 0 0;
  font-size: 16px;
}

.ask-form__input,
.ask-form__question,
.ask-form__select {
  margin-top: 15px;
  font-family: inherit;
  padding: 0 20px;
  width: 100%; 
  height: 50px; 
  color:#000000; 
	border: 1px solid rgba(0,0,0,0.2); 
  font-size: 16px;
  line-height: 1.33;
  outline: none;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  background-color: #ffffff;

  &:focus {
    border: 1px solid #000000;
  }

  .ask-form__input {
    &--active {
      border-color: $accent-color;
    }
  }

  // &:hover {
  //   border: 1px solid $accent-color;
  // }
}

.ask-form__question {
  padding-top: 16px;
  min-height: 150px;
  resize: none;

  &--ticket {
    // border: 1px solid #B1DEFF;
    // border: 1px solid #62BCFF;
    min-height: 50px;
    transition: all 0.2s ease-out;
  }

  &--ticket:focus {
    border: 1px solid #B1DEFF;
    border: 1px solid #62BCFF;
    min-height: 150px;
    box-shadow: 5px 5px 0 1px #B1DEFF;
  }
}

// .ask-form__question2 {
//   font-family: inherit;
//   padding: 0 20px;
//   width: 100%; 
//   height: 50px; 
//   color:#000000; 
//   font-size: 16px;
//   line-height: 1.33;
//   outline: none;
//   background-color: #ffffff;
//   border: 1px solid transparent;

//   &:focus {
//     border: 1px solid $accent-color;
//   }

  // &:hover {
  //   border: 1px solid $accent-color;
  // }
// }

// .ask-form__question2 {
//   // margin-top: 0;
//   margin: 0;
//   padding-top: 16px;
//   min-height: 150px;
//   resize: none;
// }

// .ask-form__question-wrapper {
//   margin-top: 15px;
//   display: flex;
//   flex-direction: column;
//   border: 1px solid #ECECEC;
//   border-radius: 3px;
// }

.ask-form__select-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    right: 20px;
    top: calc(50% + 4px);
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 6px solid black;
  }
}

.ask-form__select {
  padding-right: 40px;
  display: block;
  appearance: none;

  &:valid:focus {
  }
}

.ask-form__question::placeholder,
.ask-form__input::placeholder {
  font-family: inherit;
  color: darkgray;
}

.ask-form__notifications {
  font-size: 14px;
  margin-top: 10px;
}

.ask-form__toolbar {
  padding: 10px 0; 
}

.ask-form__button-attach {
  margin: 0;
  display: block;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  font-family: inherit;
  border: none;
  background-color: transparent;
  color: #000000;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-attach.svg");
  }

  &:hover {
    color: $accent-color;
  }
}

.ask-form__button-wrapper2 {
  margin-top: 20px;
}