.bubble {
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #ECECEC;

  &--author {
    margin-left: auto;
    background-color: #F1F9FF;
    border: 1px solid #B1DEFF;
  }
}

.bubble__date {
  margin-left: auto;
  font-size: 14px;
  min-width: 140px;
  flex-shrink: 0;
  text-align: right;
}

.bubble__title,
.bubble__date {
  color: #aaaaaa;
}

.bubble__message {
  width: 100%;
}

.bubble__title {
  padding-left: 20px;
  border-left: 1px solid #ECECEC;
}

.bubble__name {
  margin-right: 20px;
  font-weight: 700;
}

.bubble__attachment {
  padding-left: 18px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 3px;
    width: 14px;
    height: 14px;
    background-image: url("/img/attach.svg");
  }
}

.bubble__avatar {
  margin-right: 12px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid red;
  background-image: url("/img/murrey.png");
  background-size: cover;
  border: 1px solid #ECECEC;
}