$main-color: #333333;
$accent-color: #ff8562;
$accent-hover: #E0674A;
// $mobile-width: 767px;
// $tablet-width: 1023px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$max-width: 1200px;